/* THESE ARE THE MEDIA QUERIES FOR THE BLOG */


/* table styling  This establishes a baseline size for the tables */

table{
  border-spacing: 47px;
  border-collapse: separate;
}

.tablebox{
  margin: 10px;
  width: 140pt;
  height: 141.2pt;
}

@media screen and (max-width: 960px){
  body.blog{
    background: #a5d1e8 !important;
  }
}

/* for the table */
@media screen and (max-width: 900px){
td{
    display: block;
    width: 677px;
  }

  .tablebox, .blogbackground{
    margin: 14px;
    width: 215pt;
    height: 176.2pt;
    margin-left: 55%;
  }

  .blogbackground{
    margin-left: 0%;
  }

.blogheader{
  border: 1px solid white;
  width: 181pt;
  height: 142.2pt;
  margin: 23px 23px 51px 23px;
  position: absolute;
  top: -2%;
  z-index: 2;
}

  .date{
    top: 91%;
    left: 67%;
  }


}

@media screen and(max-width: 767px){
  .col-sm-10{
    margin-left: 20% !important;
  }
}

@media screen and (max-width: 669px){
  .tablebox, .blogbackground{
    margin: 14px;
    width: 215pt;
    height: 176.2pt;
    margin-left: 35%;
  } /* end of table box */

  .blogbackground{
    margin-left: 0%;
  }
} /* end of media query */

@media screen and (max-width: 620px){
  .tablebox, .blogbackground{
    margin: 14px;
    width: 215pt;
    height: 176.2pt;
    margin-left: 25%;
  } /* end of table box */

  .blogbackground{
    margin-left: 0%;
  }
} /* end of media query */

@media screen and (max-width: 471px){
  .tablebox, .blogbackground{
    margin: 0px;
    width: 365pt;
    height: 246.2pt;
    margin-left: -19%;
    margin-top: -10%;
  }/* end of table box */

#followmebutton{
  margin-top: 49px;
  float: left;
  padding-left: 18px;
}

.yellowtags{
  margin-left: -14%;
  float: right;
  display: inline;
}
  .blogbackground{
    margin-left: 3%;
    width: 532px;
  }

  .blogheader{
    border: 1px solid white;
    width: 304pt;
    height: 178.2pt;
    margin: 23px 30px 41px 23px;
    position: absolute;
    top: -2%;
    z-index: 2;
    left: 5%;
  }

  .date {
    top: 79%;
    left: 67%;
  }

/* The following two tags will adjust the heights separately of the backgrounds that would otherwise have misshapen heights from the browser changing */
  #thirdarticle{
    height: 287px;
  }

  #lastarticle{
    height: 287px;
  }

#whiteborder_for_last_article{
  height: 207.2pt;
}

#date_for_last_article{
  top: 91%;
  left: 67%;
}

  /*this is the end of the adjusting of the two heights */

} /* end of 471 media query */


/* for the slick nav menu */

@media screen and (min-width: 768px){
 .slicknav_menu{
   display: none;
 }

 @media screen and (max-width: 765px){
   .slicknav_menu{
     background-size: 7%;
   }
 }

 @media screen and (max-width: 755px){
   .slicknav_menu{
     background-size: 7%;
   }
 }

 @media screen and (max-width: 628px){
   .slicknav_menu{
     background-size: 8%;
   }
 }

 @media (max-width:962px) and (min-width:542px) {

   .slicknav_menu{
     background-size: 9%;
   }
 }

 @media screen and (max-width: 455px){
   .slicknav_menu{
     background-size: 13%;
   }

   .slicknav_menu{
     padding-bottom: 14px;
   }
 }

 @media screen and (max-width: 767px){

   body {
     background-image: -webkit-gradient(linear,
       left top,
       right top,
       color-stop(0, #a5d1e8),
       color-stop(12%, #a5d1e8),
       color-stop(12%, #a5d1e8),
       color-stop(12%, #a5d1e8),
       color-stop(14%, #a5d1e8),
       color-stop(14%, #a5d1e8),
       color-stop(100%, #a5d1e8)
   	);
   }


   .sidebar{
     display: none !important;
   }

   .slicknav_menu{
     background-image: url('../Group2.png'); max-width: 100%;
     background-size: 8%;
     background-repeat: no-repeat;
     background-color: white;
     border-bottom: 10px;
     border-color: white;
     border-style: solid;
   }

   .slicknav_menu li{
     color: #4d4d4d;
     font-size: 25px;
   }

   .slicknav_btn {
     background-color: white;
   }


 #socialmedia{
   margin-left: 15%;
 }

 } /* end of media query 767px */


 /* end of slick nav menu */
